#contact-title {
    margin-top: 15vw;
    margin-bottom: 7.5vw;
    padding-top: 2vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,#40E0D0,#FF8C00,#FF0080);
    background-size: 200%;
    animation: gradient-move 5s ease infinite;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 8vw;
}

.line-gradient {
    height: 1px;
    background: linear-gradient(90deg,#40E0D0,#FF8C00,#FF0080);
    background-size: 200%;
    animation: gradient-move 5s ease infinite;
}

#icons-container {
    width: 100%;
    height: auto;
    margin: 15vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12vw;
}

#icons-container a {
    color: var(--black-color);
    text-decoration: none;
}

#icons-container figure {
    display: flex;
}

#icons-container figure:hover {
    opacity: .6;
}

.icon-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    font-size: 8vw;
}

#icons-container figcaption {
    display: flex;
    align-items: center;
    font-size: 3vw;
}

@media (min-width: 769px) {
    #icons-container {
        gap: 10vw;
    }
}

@media (min-width: 1025px) {
    #icons-container {
        gap: 8vw;
    }

    #icons-container figcaption {
        font-size: 1vw;
    }

    .icon-contact {
        font-size: 4vw;
    }
}