#contact-section__h2 {
    padding-top: 15vw;
    padding-bottom: 7.5vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,#40E0D0,#FF8C00,#FF0080);
    background-size: 200%;
    animation: gradient-move 5s ease infinite;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 12vw;
}

.line-gradient {
    height: 1px;
    background: linear-gradient(90deg,#40E0D0,#FF8C00,#FF0080);
    background-size: 200%;
    animation: gradient-move 5s ease infinite;
}

#icons-container {
    width: 100%;
    height: auto;
    padding: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7vw;
}

.contact-section__icon {
    font-size: 3.5vw;
    color: var(--black-color);
    text-decoration: none;
}

.icon-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    font-size: 8vw;
}

@media (min-width: 769px) {
    #icons-container {
        gap: 10vw;
    }
}

@media (min-width: 1025px) {
    #contact-section__h2 {
        padding-top: 144px;
        font-size: 108px;
    }


    #icons-container {
        gap: 8vw;
    }

    .contact-section__icon {
        margin-left: 7.5vw;
        font-size: 1.5vw;
    }

    .icon-contact {
        font-size: 4vw;
    }
}