footer {
    grid-area: footer;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}

@media (min-width: 426px) {
    footer {
        font-size: 2vw;
    }
}

@media (min-width: 1024px) {
    footer {
        font-size: 1vw;
    }
}