/* mobile */
.header {
    z-index: 5;
    position: sticky;
    top: 0;
    height: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-gray-color);
}

#header-title{
    margin-left: 6vw;
    font-size: 4.5vw;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .5px;
}

#navbar {
    display: none;
}

#hamburger{
    margin-right: 4vw;
    font-size: 5.25vw;
}

#menu-mobile {
    position: fixed;
    left: 20%;
    top: -300px;
    z-index: 5;
    border-radius: 4px;
    background: var(--white-color);
    border: solid 1px var #000;
    transition: transform 500ms ease;
}

#menu-mobile.display {
    transform: translateY(70vh);
}

.mobile-item {
    height: inherit;
    display: flex;
    align-items: center;
    font-size: 4.25vw;
    padding: 6vw 21vw;
    text-decoration: none;
    color: var(--black-color);
}

body.overflowYHidden {
    overflow-y: hidden;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: #303030;
    transition: all 500ms ease;
}

.overlay.visible {
    visibility: visible;
    opacity: 1;
}


/* tablet */
@media (min-width: 426px) {
    .header {
        height: 72px;
    }

    #header-title {
        font-size: 18px;
    }

    #hamburger {
        display: none;
    }

    #menu-mobile {
        display: none;
    }

    #navbar {
        top: 0; /*requerimiento*/
        display: flex;
        align-items: center;
        height: inherit;
    } 

    .header-item {
        color: var(--black-color);
        text-decoration: none;
        margin: 12px 16px;
    }

    .header-item:hover {
        opacity: .6;
    }
}

/* desktop */
@media (min-width: 769px) {
    .header {
        justify-content: space-between;
    }

    #header-title {
        margin-left: 5vw;
        font-size: 20px;
    }

    #navbar {
        font-size: 18px;
        margin-right: 5vw;
    }
}

